<view title="'Dashboard'">
    <content has-header="true" padding="true">
        <div class="list list-inset">
            <div class="item">
                Transferred: {{ bytesToSize(statistics.size, 3) }}
            </div>
            <div class="item">
                Cache hits: {{ numberWithCommas(statistics.cache_hit) }}
            </div>
            <div class="item">
                Non-cache hits: {{ numberWithCommas(statistics.noncache_hit) }}
            </div>
        </div>
        <div class="note">* Uses monthly data</div>
    </content>
</view>
