<?xml version='1.0' encoding='utf-8'?>
<widget
    id="com.maxcdn.monitor"
    version="0.0.1"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MaxCDN Monitor</name>
    <description>
        A monitoring app showing statistics related to your MaxCDN account.
    </description>
    <author email="" href="http://maxcdn.com/">
        MaxCDN
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
</widget>
